<h1>Football Recaps</h1>

<h3>Did you see that ludicrous display last noyt?</h3>

<h4><%= link_to @ludicrous_title, @ludicrous_link %></h4>
<h6><%= link_to @ludicrous_date, @ludicrous_author_link %></h6>
<div>
	<a href="<%= @ludicrous_image %>"><img src="<%= @ludicrous_image %>"></a>
	<p><%= link_to @ludicrous_display, @ludicrous_link %></p>
</div>

